
API/.vs/PCFitment_API/config/applicationhost.config
API/.vs/PCFitment_API/DesignTimeBuild/.dtbcache.v2
API/.vs/PCFitment_API/FileContentIndex/a018e332-3b36-492d-b806-28f7417260d2.vsidx
API/.vs/PCFitment_API/v17/.futdcache.v2
API/.vs/PCFitment_API/v17/.suo
API/.vs/PCFitment_API/v17/DocumentLayout.json
API/.vs/ProjectEvaluation/pcfitment_api.metadata.v8.bin
API/.vs/ProjectEvaluation/pcfitment_api.projects.v8.bin
API/.vs/ProjectEvaluation/pcfitment_api.strings.v8.bin
